@import "reset.css";
@import "base.css";
@import "utilities.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* variables */
:root {
    --primary: #AA0601;
    --secondary: #650300;
    --bg-light: #FBF2F2;
}

/* background */
.bg-nav{
    background: var(--primary);
}

.bg-header{
    background-image: url("img/home-header.png");
    height: 787px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-light{
    background: var(--bg-light);
}

/* nav */
.nav a{
    padding: 12px;
}

.nav-img{
    /* width 有加上 col 的 padding 左右 px */
    padding: 12px 0px 12px 0px;
    max-width: 104px; 
}

.nav-list li{
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}

.nav-list li:hover{
    font-weight: bold;
}

@media (max-width:787px){
    .nav-list{
        .mr-64{
            margin-right: 15px;
        }
        .mr-36{
            margin-right: 30px
        }
    }
}

@media (max-width:576px){
    .nav-list{
        width: 100%;

        .mr-64{
            margin-right: 0;
        }
        .mr-36{
            margin-right: 0;
        }
    }
    .nav-list li{
        font-size: 16px;
        border: 1px solid #FFF;
        padding: 12px 0px 12px 0px;
        width: 50%;
    }
}

/* header */
.title-header{
    height: auto;
    padding: 296px 0px;
}

.title-header p{
    font-size: 36px;
    color:var(--secondary);
}

.h1{
    font-size: 64px;
    font-weight: bold;
    color:var(--secondary);
    margin-bottom: 10px;
}

.title-header a{
    background: #AA0601;
    padding: 6px 12px;
    transition: 0.5s;
}
.title-header a:hover{
    font-weight: bold;
}

@media (max-width:992px){
    .bg-header{
        background-image: url("img/home-header-sm.png");
    }
}

@media (max-width:599px){
    .bg-header{
        height: 396px;
    }
    .title-header{
        padding: 144px 0px;
        .h1{
            font-size: 24px;
        }
        p{
            font-size: 16px;
       } 
    }
}

/* intro */
.intro{
    padding: 80px 0px 80px 0px;
}

.intro img{
    width: 83px;
    height: 83px;
}

.h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--secondary);
}

.h3{
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 8px;
    color: var(--secondary);
}

.row{
    margin-left: -12px;
    margin-right: -12px;
}

.col{
    padding-right: 12px;
    padding-left: 12px;
}

.col-3{
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
}



@media (max-width:992px){
    .intro{
        .bg-light .container{
            max-width: 720px;
        }
        .col-md-6{
            width: 50%;
        }
    }
}

@media (max-width:576px){
    .intro{
        .container{
            max-width: 372px;
        }
        .ptb-1{
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .h2{
            font-size: 24px;
        }
        .col-sm-12{
            width: 100%;
        }
    }
}

/* classic */
.classic{
    padding-top: 80px;
    padding-bottom: 80px;
}

.classic-title h2{
    font-size: 48px;
    color: var(--primary);
    font-weight: bold;
}

.classic-list h2{
    font-size: 48px;
    color: var(--primary);
    font-style: italic;
    font-weight: bold;
    margin: 8px 0px 26px 0px;
}

.col-4{
    width: 33.3333%;
    padding-right: 12px;
    padding-left: 12px;
}

@media (max-width:992px){
    .classic{
        .container{
            max-width: 720px;
        }
        .col-4{
            width: 100%;
            img{
                width: 336px;
                height: 336px;
            }
        }
    }
}

@media (max-width:576px){
    .classic{
        padding-top: 40px;
        padding-bottom: 40px;

        .container{
            max-width: 372px;
        }
        .classic-title .mb-48{
            margin-bottom: 24px;
        }
        .classic-title h2{
            font-size: 24px;
        }
    }
}

/* co-branded */
.bg-co-branded{
    background-image: url("img/index-bg.png");
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

.co-branded-list li{
    width: 50%;
}

.title-co-branded h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 48px;
}

.co-branded-list h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--primary);
    background: #FFF;
    padding: 8px 0px 8px 0px;
    margin-bottom: 24px;

}

@media (max-width:992px){
    .co-branded{
        .container{
            max-width: 720px;
        }
        .co-branded-list li{
            width: 100%;
        }
    }
}

@media (max-width:576px){
    .co-branded{
        padding-top: 40px;
        padding-bottom: 40px;

        .container{
            max-width: 372px;
        }
        .title-co-branded{
            h2{
                font-size: 24px;
            }
        }
    }
}

/* recommend */
.recommend{
    padding: 80px 0px 80px 0px;
}

.title-recommend h2{
    font-size: 48px;
    font-weight: bold;
    color: #650300;
}

.recommend-list h4{
    padding: 0px 16px 0px 16px;
    font-weight: 500;
}

.recommend-list p{
    font-weight: 400;
}

.recommend-list li{
    height: 513px;
    border: 1px solid #DEE2E6;
    border-radius:  4px 4px 4px 4px;
    box-shadow: 0px 2px 6px #00000029;
} 
.recommend-list .date{
    color:#707070;
}
.col-3-margin{
    width: calc(25% - 24px);
    margin: 0px 12px 0px 12px;
}

@media (max-width:992px){
    .recommend{
        .container{
            max-width: 720px;
        }
    }
    .recommend-list{
        .col-md-6{
            width: calc(50% - 24px);
            margin-bottom: 24px;
        }
    }
}

@media (max-width:576px){
    .recommend{
        padding: 40px 0px 40px 0px;
        .container{
            max-width: 372px;
        }
        .recommend-list{
            .col-sm-12{
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }
}

/* contact */
.bg-contact{
    background: var(--bg-light);
    text-align: center;
}

.contact{
    padding: 80px 0px 80px 0px;
}

.title-contact h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 48px;
}

.contact-container{
    max-width: 708px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.contact-list p{
    font-size: 20px;
    margin-bottom: 24px;
}

.d-block input, .d-block textarea{
    background-color: transparent;
    border: 1px solid #000;
    margin: 8px 0px 16px 0px;
    width: 100%;
}

.d-block input{
    height: 36px;
}

.d-block input::placeholder, .d-block textarea::placeholder{
    opacity: 0.2;
    padding: 6px 0px 6px 12px;
}


.checkbox input[type="checkbox"]{
    display: none;
}


.checkbox input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("img/ic_check_box_outline_blank_24px.svg");
    background-size: contain;
    margin-right: 4px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + label::before{
    background-image: url("img/ic_check_box_ok.svg");
  }

.submit input{
    margin-top: 48px;
    background: var(--primary);
    color: #FFF;
    width: 416px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.submit input:hover{
    font-weight: bold;
}

.contact-list .submit{
    text-align: center;
}

@media (max-width:992px){
    .contact-container{
        max-width: 720px;
    }
    .contact-content{
        max-width: 576px;
    }
}

/* footer */
.bg-footer{
    background: var(--primary);
    padding-top: 48px;
    padding-bottom: 32px;
}

.footer-list-link li{
    margin-right: 48px;
    transition: 0.5s;
}

.footer-list-link li:hover{
    font-weight: bold;
}

.footer-list-social-link img{
    width: 48px;
    height: 48px;
    margin-left: 32px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-list-social-link img:hover{
    transform: scale(1.1);
}

.footer-list-contact{
    margin-top: 45px;
}

.footer-list-contact img{
    width: 36px;
    height: 36px;
    margin-right: 22px;
}

.footer-list-contact li{
    font-size: 36px;
    color: #FFF;
}

.footer-list-hr{
    margin: 32px 0px 32px 0px;
}

.footer-list-copyright p{
    color: #FFF;
}

.footer-list-copyright li{
    margin-left: 48px;
    font-size: 14px;
}

.footer-list-copyright li:hover{
    font-weight: bold;
}

@media (max-width:992px){
    .footer {
        .container{
            max-width: 720px;
        }
        .footer-list-social-link img{
            margin-left: 16px;
        }
        .footer-list-link li{
            margin-right: 16px;
            margin-top: 10px;
        }
        .footer-list-contact li{
            font-size: 24px;
        }
    }

}

@media (max-width:576px){
    footer {
        .container{
        max-width: 372px;
        }
        .footer-list-link{
            display: none;
        }
        .footer-list-contact{
            margin-top: 0px;
            a{
                font-size: 16px;
            }
            ul{
                width: 50%;
            }
            img{
                margin-right: 8px;
            }
        }
        .footer-list-copyright{
            flex-direction: column;
            ul{
                flex-direction: column;
            }
            li{
                margin: 8px 0px 0px 0px;
            }
        }
    }
}